.itemListWrp {
    display: flex;
    flex-direction: column;
}

.itemWrp {
    display: flex;
    border: 1px solid #EBF0FF;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
}

.itemWrp:last-child {
    margin-bottom: 32px;
}

.productImgWrp {
    width: 110px;
    height: 72px;
    border-radius: 5px;
    overflow: hidden;
}

.txtWrp {
    display: flex;
    flex-direction: column;
}

.titleWrp {
    display: flex;
}

.productImg {
    max-height: 100%;
    object-fit: cover;
}

.productTitle {
    color: #223263;
    font-weight: 700;
    line-height: 1.5;
}

.priceWrp {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.productPrice {
    color: #40BFFF;
    font-weight: 700;
}

.counterWrp {
    display: flex;
}

.cartItemCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBF0FF;
    background-color: #fff;
    cursor: pointer;
    min-width: 32px;
    color: #9098B1;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.cartItemCounter:focus {
    outline: none;
}

.cartItemCounterDec {
    composes: cartItemCounter;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 19px;
    padding-bottom: 2px;
}

.cartItemCounterInc {
    composes: cartItemCounter;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.cartItemAmount {
    display: flex;
    justify-content: center;
    color: #223263;
    min-width: 50px;
    background-color: #EBF0FF;
    line-height: 24px;
    border: 1px solid #EBF0FF;
}

.totalWrp {
    display: flex;
    flex-direction: column;
    border: 1px solid #EBF0FF;
    border-radius: 5px;
    padding: 16px 16px 4px;
}

.totalItemWrp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.totalItemTitle {
    color: #9098B1;
}

.totalItem {
    color: #223263;
    margin-bottom: 12px;
}

.totalItemBold {
    font-weight: 700;
    color: #40BFFF;
}

.totalItemTitleBold {
    composes: totalItem;
    font-weight: 700;
}

.totalDivider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EBF0FF;
    margin-bottom: 12px;
}

.deleteItem {
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.deleteItem:hover {
    transform: scale(1.1)
}

.productLink {
    text-decoration: none;
}