.contentareaWrp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    width: 100%;
    max-width: 375px;
    padding: 16px 16px 120px;
    box-sizing: border-box;
}