body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  background-color: #e8e8e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
